@import url("https://googleapis.com");

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(
    to left bottom,
    #eef5ff,
    #e9f2ff,
    #e3efff,
    #deebff,
    #d8e8ff
  );
  font-family: "Poppins", sans-serif;
}

main {
  background-color: rgba(100, 116, 139, 0.05);
  max-width: 37.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
  align-items: center;
  border-radius: 1.5em;
  padding: 3em;
  box-shadow: 0em 0.5em 0.5em 0em rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(255, 255, 255);
}

.icon {
  background-color: #eef5ff;
  font-size: 3em;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(1em);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255);
  box-shadow: 0em 0.09em 0.9em 0em rgba(0, 0, 0, 0.15);
  padding: 0.2em;
  animation: robot-bounce 2s ease-in-out infinite;
}

@keyframes robot-bounce {
  0%,
  100% {
    transform: translateY(0); /* Start and end at normal position */
  }
  50% {
    transform: translateY(-0.1em);
  }
}

h1 {
  font-weight: 700;
  font-size: 3.5em;
  color: #1e293b;
}

h3 {
  font-weight: 500;
  font-size: 1.75em;
  color: #64748b;
}

button {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background: #ff4d4f;
  border: 1px solid white;
  color: white;
  font-size: 3rem;
  cursor: pointer;
  box-shadow: 0 15px 40px rgba(255, 77, 79, 0.45);
  transition: 0.3s;
}

button:hover{
    transform:scale(1.08);
    box-shadow:
    0 20px 50px rgba(255,77,79,.55);
}

button:active{
    transform:scale(.96);
}